* {
    touch-action: auto !important;
}

app-scroll-to-top-button {
    display: none;
}

/* stop wasting cpu cycles */
loading-spinner .loading-icon, .other-worksheet-button .loading {
    animation: none !important;
}

.dashboard-progress-chart .container.plan.isFloating {
    width: 100% !important;
    height: 100% !important;
    max-width: unset !important;
    max-height: unset !important;
}
body:has(.dashboard-progress-chart .container.plan.isFloating) {
    scrollbar-width: none;
}

.customToolbar {
    position: fixed;
    top: 65px;
    width: 30px;
    height: 150px;
    z-index: 299;
    display: none;
    pointer-events: none;
    > button {
        left: 0px;
        height: 30px;
        width: 30px;
        z-index: 1;
        padding: 0;
        pointer-events: all;
        position: relative;

        &:has(svg) {
            padding-top: 3px;
        }
    }

    .hoverToolbarBtn {
        top: 0px;
    }

    .headerZindexBtn {
        top: 5px;
    }

    .shiftbtn {
        top: 10px;
    }

    .xallbtn {
        top: 15px;
    }

    .drawbtn {
        top: 20px;
        padding-top: 4px !important;
    }

    /* Don't show these except on mobile */
    .mobileUpBtn, .mobileDownBtn {
        display: none;
        top: 20px;
        width: 20px;
        left: 10px;
    }
}

.unlockbtn {
    display: none;
}

/* we're on a page that's already corrected */
body:has(.worksheet-container.selected .full-score-mark) {
    .unlockbtn {
        display: unset;
    }
}

.drawtab {
    position: fixed;
    top: 1px;
    left: 1px;
    border: 1px solid;
    width: calc(100vw - 2px);
    z-index: 501;
    background-color: rgb(240, 240, 247);
    max-height: calc(-2px + 100dvh);
    height: calc(-2px + 100dvh);
    overflow: auto;

    &.hidden {
        display: none !important;
    }

    --sizeslider: 0.25;

    .buttonsleft {
        width: 129px;
        display: inline-table;
    }

    button {
        height: 30px;
        &.stampbtn {
            background: white;
            height: 100%;
            width: calc(0.25 * var(--height-limiter) * 370px);
            margin: 4px;
            padding: 0px;
            border-width: 1px;
            svg {
                margin-bottom: -3px;
            }
        }
    }
    .squarebtn {
        width: 30px;
        margin: 4px;
    }
    label, legend {
        font-size: 12px;
    }

    fieldset {
        display: inline-grid;
    }

    textarea {
        max-width: 370px;
        width: calc(100% - 50px);
        margin-bottom: -6px;
        font-size: calc(var(--sizeslider) * 57px);
    }

    details summary {
        position: sticky;
        top: 0px;
        background-color: rgb(220, 220, 227);
        max-width: fit-content;
        padding: 1px 5px;
        border: 1px solid;
    }

    .header {
        position: sticky;
        top: 0px;
        background-color: rgb(220, 220, 227);
        display: inline-block;
        float: right;
        > input {
            margin: 7px;
            &[type='checkbox'] {
                margin-right: 3px;
            }
        }

        .stackedButtons {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            padding: 5px 15px;
            &.right {
                float: right;
                padding-right: 10px;
            }
        }
        .closeDrawTab {
            margin-bottom: 8px;
        }
        .clearAll {
            font-size: 10px;
            width: 50px;
            word-break: normal;
            padding: 0;
        }
    }

    .undoLast {
        font-size: 10px;
        width: 50px;
        height: 35px;
        word-break: normal;
        margin-top: 5px;
    }

    .textprintbtn {
        vertical-align: top;
    }

    .rainbowspeed {
        width: 210px;
    }
}

.printoverlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    z-index: 998;
    display: none;
    border: 0px;
}

.stampPrintPreviewDiv {
    border: 0px;
    z-index: 997;
    position: fixed;
}

.printPreviewDiv {
    border: 1px solid;
    z-index: 997;
    position: fixed;
}

canvas[id^=inktool_ATD] {
    &[id*=study-stroke] {
        z-index: 1 !important;
    }
    &[id*=red-comment][id$=_draw] {
        z-index: 2 !important;
    }
}

div.mark-boxs.worksheet-layer {
    z-index: 3;
}

div.barWrap[aria-describedby] {
    background: darkgray !important;
}

/* keyboard mode stuff */
.markboxkey {
    position: absolute;
    color: mediumpurple;
    font-weight: 800;
    word-break: keep-all;
    font-size: 11px;
    background-color: rgba(255,255,255,0.7);
    line-height: 11px;
}

#customPulldown {
    .kbfocus {
        border: 1px solid !important;
    }
}

.score-item.end-not-perfect .score-item-content {
    border: 2px solid red;
}

.studentList {
    .fullNameEN, .studentIDKana {
        pointer-events: none;
    }
}

body:has(.markingList.tabActive) {
    .studentRow {
        .checkboxColumnContent {
            align-items: unset !important;
            padding-top: 23px;
        }
        .gradeColumn {
            align-items: unset !important;
            padding-top: 24px;
        }
    }
}

/* doesn't help */
/*
.loading-icon {
    display: none;
}
*/

/* EXPERIMENTAL */
/*
@media screen and (orientation:landscape) and (min-height:1300px) and (min-width:1300px) {
    .ATD0020P-worksheet-container {
        height:calc(min(100vh,1270px)) !important;
        width:calc(min(100vw,768px)) !important;
    }
    .worksheet-container:has(.worksheet-container) {
        height: calc(min(100vh,1270px)) !important;
        width: calc(min(100vw,768px)) !important;

        .worksheet-group-page {
            max-width: calc(min(100vw, 768px)) !important;
            padding: 0 !important;
        }
    }

    .content-detail {
        height: calc(min(100vh, 1270px)) !important;
    }
}
*/

/* EXPERIMENTAL */
/*@media screen and (orientation:landscape) and (max-height:1299px) {
    body:not(
        :has(
            div.worksheet-container.landscape.selected,
            div.worksheet-group.landscape.selected
        )
    ) {
        .content-scroll-container .content-bg .content-detail {
            min-width: 370px !important;
            width: 370px !important;

            .worksheet-container:has(.worksheet-container) {

                .worksheet-group {
                    width: 370px !important;
                    margin-left: 1px !important;

                    .worksheet-group-page {
                        max-width: 370px !important;
                        padding: 0 !important;

                        .ATD0020P-worksheet-container {
                            height: 1277px !important;
                            width: 772px !important;

                            img.worksheet-img {
                                height: 612px;
                                width: 370px;
                            }

                            canvas {
                                height: 612px !important;
                                width: 370px !important;
                            }

                            .mark-boxs {
                                transform: scale(calc(612/1270));
                                right: unset;
                                bottom: unset;
                            }
                        }
                    }
                }
            }
        }
    }
}*/
