* {
    touch-action: auto !important;
}

app-scroll-to-top-button {
    display: none;
}


.dashboard-progress-chart .container.plan.isFloating {
    width: 100% !important;
    height: 100% !important;
    max-width: unset !important;
    max-height: unset !important;
}
body:has(.dashboard-progress-chart .container.plan.isFloating) {
    scrollbar-width: none;
}

.customToolbar {
    position: fixed;
    top: 80px;
    width: 30px;
    height: 150px;
    z-index: 252;
    display: none;
    > button {
        display: none;
        position: absolute;
        left: 0px;
        height: 30px;
        width: 30px;
        z-index: 252;
        padding: 0;
    }
}

.unlockbtn {
    display: none;
}

/* we're on a page that's already corrected */
body:has(.worksheet-container.selected .full-score-mark) {
    .unlockbtn {
        display: unset;
    }
}

.customToolbar {
    & > button {
      position: relative;
    }

    .headerZindexBtn {
        top: 0px;
    }

    .shiftbtn {
        top: 10px;
    }

    .xallbtn {
        top: 20px;
    }

    .drawbtn {
        top: 30px;
        padding-top: 4px !important;
        display: unset !important;
    }
}

.drawtab {
    position: absolute;
    top: -60px;
    border: 1px solid;
    width: 405px;
    z-index: 253;
    right: 0px;
    background-color: rgb(240, 240, 247);
    max-height: calc(-20px + 100vh);
    height: calc(-20px + 100vh);
    overflow: auto;

    --sizeslider: 0.25;

    .buttonsleft {
        width: 129px;
        display: inline-table;
    }

    .stamps {
        touch-action: none !important;
    }

    button {
        height: 30px;
        &.stampbtn {
            background: white;
            height: 100%;
            width: calc(var(--sizeslider) * var(--height-limiter) * 370px);
            margin: 4px;
            padding: 0px;
            border-width: 1px;
            svg {
                margin-bottom: -3px;
            }
        }
    }
    .squarebtn {
        width: 30px;
        margin: 4px;
    }
    label, legend {
        font-size: 12px;
    }

    fieldset {
        display: inline-grid;
    }

    textarea {
        max-width: calc(100% - 5px);
        width: calc(100% - 50px);
        margin-bottom: -6px;
        font-size: calc(var(--sizeslider) * 57px);
    }

    .header {
        position: sticky;
        top: 0px;
        background-color: rgb(240, 240, 247);
        > input {
            margin: 7px;
            &[type='checkbox'] {
                margin-right: 3px;
            }
        }
    }

    .undoLast {
        padding-top: 3px;
    }

    .textprintbtn {
        vertical-align: top;
    }

    .rainbowspeed {
        width: 210px;
    }
}

.printoverlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    z-index: 998;
    display: none;
    border: 0px;
}

.stampPrintPreviewDiv {
    border: 0px;
    z-index: 997;
    position: fixed;
}

.printPreviewDiv {
    border: 1px solid;
    z-index: 997;
    position: fixed;
}

canvas[id^=inktool_ATD] {
    &[id*=study-stroke] {
        z-index: 1 !important;
    }
    &[id*=red-comment][id$=_draw] {
        z-index: 2 !important;
    }
}

div.mark-boxs.worksheet-layer {
    z-index: 3;
}

/* EXPERIMENTAL */
@media screen and (orientation:landscape) and (min-height:1300px) and (min-width:1300px) {
    .ATD0020P-worksheet-container {
        height:calc(min(100vh,1270px)) !important;
        width:calc(min(100vw,768px)) !important;
    }
    .worksheet-container:has(.worksheet-container) {
        height: calc(min(100vh,1270px)) !important;
        width: calc(min(100vw,768px)) !important;

        .worksheet-group-page {
            max-width: calc(min(100vw, 768px)) !important;
            padding: 0 !important;
        }
    }

    .content-detail {
        height: calc(min(100vh, 1270px)) !important;
    }
}
/* EXPERIMENTAL */
/*@media screen and (orientation:landscape) and (max-height:1299px) {
    body:not(
        :has(
            div.worksheet-container.landscape.selected,
            div.worksheet-group.landscape.selected
        )
    ) {
        .content-scroll-container .content-bg .content-detail {
            min-width: 370px !important;
            width: 370px !important;

            .worksheet-container:has(.worksheet-container) {

                .worksheet-group {
                    width: 370px !important;
                    margin-left: 1px !important;

                    .worksheet-group-page {
                        max-width: 370px !important;
                        padding: 0 !important;

                        .ATD0020P-worksheet-container {
                            height: 1277px !important;
                            width: 772px !important;

                            img.worksheet-img {
                                height: 612px;
                                width: 370px;
                            }

                            canvas {
                                height: 612px !important;
                                width: 370px !important;
                            }

                            .mark-boxs {
                                transform: scale(calc(612/1270));
                                right: unset;
                                bottom: unset;
                            }
                        }
                    }
                }
            }
        }
    }
}*/
