@media screen and (orientation:landscape) and (max-height:733px) {
    /* Less space on grade column */
    .studentRowHeader {
        .gradeColumn {
            width: unset !important;
            min-width: unset !important;
            padding-left: 0px !important;
        }
        .nameColumn {
            width: 185px !important;
        }
    }

    app-student-list-filler-item {
        display: none !important;
    }

    .studentRow {
        .gradeColumn {
            flex: none !important;
            min-width: unset !important;
            width: unset !important;
            span {
                margin-left: 0 !important;
            }
            .columnContent {
                width: 10px !important;
            }
        }
        .nameColumn {
            padding-right: 0px !important;
            flex-basis: 248px !important;
            .fullNameEN {
                width: 234px !important;
            }
        }
    }

    .container {
        min-width: unset !important;
    }
    .content-bg {
        padding: 0px !important;
    }
    .scroll-content {
        overflow-x: auto !important;
    }

    .grading-header-icon {
        display: none;
    }
    .grading-header-title {
        display: none;
    }
    .grading-header {
        min-height: unset !important;
        padding: 0px !important;

        .backBtnWrap {
            height: unset !important;
        }
        .btn-subject {
            border: none !important;
            height: unset !important;
            line-height: 20px !important;
            min-width: unset !important;
            padding: 0px 10px !important;
        }
        .full-name {
            line-height: 20px !important;
        }
        .header-left {
            line-height: 10px;
        }
        .name-kana {
            display: none;
        }
        .student-info-btn::before {
            top: 8px !important;
        }
        .student-info-right .num {
            height: 20px !important;
            line-height: 20px !important;
            min-width: 20px !important;
        }
        .student-pulldown-root {
            min-height: unset !important;
            margin-left: 0px !important;
        }
        #studentInfoPullDown {
            min-height: unset;
            border: 0px !important;
        }
    }

    .worksheet-tool {
        margin-left: 0px !important;
    }

    /* Grading */
    body:has(.scroll-content .container .content .content-scroll-container .content-bg .content-detail .worksheet-container) {
        &:has(.worksheet-tool):has(.content-answer-content) {
            .customToolbar {
                /* account for dynamic width answer content */
                left: calc((100vw - 410px) * 2 / 3 + 385px + 6px) !important;
            }
        }
        .content-answer-content {
            /* dynamic width answer content so our xallbtn can have "fixed" position relative to the other buttons */
            width: calc((100vw - 410px) * 2 / 3) !important;
        }
        &:has(.worksheet-tool):not(:has(.content-answer-content)) {
            &:has(.worksheet-group.single) {
                .customToolbar {
                    left: 391px;
                }
            }
        }
        &:has(.worksheet-group.single) {
            .xallbtn, .customToolbar {
                /* for this size, only show if in single page mode */
                display: unset !important;
            }
        }
        &:has(
            div.worksheet-container.landscape.selected,
            div.worksheet-group.landscape.selected
        ) {
            .content-detail {
                min-width: 550px !important;
            }
            .customToolbar {
                left: 515px !important;
            }
            .worksheet-tool {
                margin-left: 510px !important;
            }
        }
    }

    /* student info page */
    app-ate0020p {
        .student-profile {
            min-width: unset !important;
        }

        .dashboard {
            overflow-x: auto !important;
            padding-left: 10px !important;

            .dashboard-menu {
                width: unset !important;

                .dashboard-menu-left {
                    flex-shrink: 0;
                }
            }

            .dashboard-progress {
                justify-content: left !important;

                .dashboard-progress-circle {
                    width: 220px !important;

                    app-progress-circle {
                        .dictionary {
                            width: 190px !important;
                            span {
                                margin-left: 0px !important;

                                &.label {
                                    flex: 1.4;
                                }
                            }
                        }
                    }
                }

                .dashboard-progress-chart {
                    width: calc(100vw - 246px) !important;

                    .set-btn .btn-primary {
                        left: calc(100vw - 332px) !important;
                    }
                }
            }

            .dashboard-set {
                padding: 10px !important;

                .dashboard-set-left {
                    width: 169px !important;
                }
                .dashboard-set-right.studyUnitEditorContainer {
                    transform: scaleX(calc(tan(atan2(100vw - 200px, 810px))));
                    transform-origin: left;

                    .gridContentOuter {
                        overflow: hidden !important;
                    }
                }
            }

            &.disabled {
                .dashboard-progress {
                    .dashboard-progress-chart .edit-btn button {
                        bottom: 0px !important;

                        &.btn-primary {
                            left: calc(100vw - 352px) !important;
                        }
                        &.btn-secondary {
                            left: calc(100vw - 562px) !important;
                        }
                    }
                    app-plan-chart .container {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        transform: none;
                    }
                }
            }
        }
    }
}
