@media screen and (orientation:landscape) and (max-height:733px) {
    .container {
        min-width: unset !important;
    }
    .content-bg {
        padding: 0px !important;
    }
    .scroll-content {
        overflow-x: auto !important;
    }

    .grading-header-icon {
        display: none;
    }
    .grading-header-title {
        display: none;
    }
    .grading-header {
        min-height: unset !important;
        padding: 0px !important;

        .backBtnWrap {
            height: unset !important;
        }
        .btn-subject {
            border: none !important;
            height: unset !important;
            line-height: 20px !important;
            min-width: unset !important;
            padding: 0px 10px !important;
        }
        .full-name {
            line-height: 20px !important;
        }
        .header-left {
            line-height: 10px;
        }
        .name-kana {
            display: none;
        }
        .student-info-btn::before {
            top: 8px !important;
        }
        .student-info-right .num {
            height: 20px !important;
            line-height: 20px !important;
            min-width: 20px !important;
        }
        .student-pulldown-root {
            min-height: unset !important;
            margin-left: 0px !important;
        }
        #studentInfoPullDown {
            min-height: unset;
            border: 0px !important;
        }
    }

    .worksheet-tool {
        margin-left: 0px !important;
    }

}
