@media screen and (orientation:landscape) and (max-height:613px) {
    /* Grading */
    body:has(.scroll-content .container .content .content-scroll-container .content-bg .content-detail .worksheet-container) {
        &:has(.worksheet-tool) {
            .shiftbtn, .customToolbar {
                display: unset !important;
            }
        }
        .worksheet-container.shiftup > .worksheet-group .worksheet-container > div {
            margin-top: calc(100vh - 615px);
        }
        .worksheet-container.shiftup > .worksheet-group.single:last-child .worksheet-group-page:last-child .worksheet-container > div {
            margin-top: calc(100vh - 617px);
        }
    }
}
