@media screen and (orientation:landscape) and (max-height:733px) {
    /* Less space on grade column */
    .studentRowHeader .gradeColumn {
        width: unset !important;
        min-width: unset !important;
        padding-left: 0px !important;
    }
    .studentRow .gradeColumn {
        flex: none !important;
        min-width: unset !important;
        width: unset !important;
        span {
            margin-left: 0 !important;
        }
    }

    .container {
        min-width: unset !important;
    }
    .content-bg {
        padding: 0px !important;
    }
    .scroll-content {
        overflow-x: auto !important;
    }

    .grading-header-icon {
        display: none;
    }
    .grading-header-title {
        display: none;
    }
    .grading-header {
        min-height: unset !important;
        padding: 0px !important;

        .backBtnWrap {
            height: unset !important;
        }
        .btn-subject {
            border: none !important;
            height: unset !important;
            line-height: 20px !important;
            min-width: unset !important;
            padding: 0px 10px !important;
        }
        .full-name {
            line-height: 20px !important;
        }
        .header-left {
            line-height: 10px;
        }
        .name-kana {
            display: none;
        }
        .student-info-btn::before {
            top: 8px !important;
        }
        .student-info-right .num {
            height: 20px !important;
            line-height: 20px !important;
            min-width: 20px !important;
        }
        .student-pulldown-root {
            min-height: unset !important;
            margin-left: 0px !important;
        }
        #studentInfoPullDown {
            min-height: unset;
            border: 0px !important;
        }
    }

    .worksheet-tool {
        margin-left: 0px !important;
    }

    /* Grading */
    body:has(.scroll-content .container .content .content-scroll-container .content-bg .content-detail .worksheet-container) {
        &:has(.worksheet-tool):has(.content-answer-content) {
            .customToolbar {
                /* account for dynamic width answer content */
                left: calc((100vw - 410px) * 2 / 3 + 385px + 6px) !important;
            }
        }
        .content-answer-content {
            /* dynamic width answer content so our xallbtn can have "fixed" position relative to the other buttons */
            width: calc((100vw - 410px) * 2 / 3) !important;
        }
        &:has(.worksheet-tool):not(:has(.content-answer-content)) {
            &:has(.worksheet-group.single) {
                .customToolbar {
                    left: 391px;
                }
            }
        }
        &:has(.worksheet-group.single) {
            .xallbtn, .customToolbar {
                /* for this size, only show if in single page mode */
                display: unset !important;
            }
        }
        &:has(
            div.worksheet-container.landscape.selected,
            div.worksheet-group.landscape.selected
        ) {
            .content-detail {
                min-width: 550px !important;
            }
            .customToolbar {
                left: 515px !important;
            }
            .worksheet-tool {
                margin-left: 510px !important;
            }
        }
    }
}
