@media screen and (orientation:portrait) and (max-width:977px) {
  /* Less space on grade column */
  .studentRowHeader {
    .gradeColumn {
      width: unset !important;
      min-width: unset !important;
      padding-left: 0px !important;
      i {
        margin: 0px !important;
      }
    }

    .checkboxColumn {
      width: unset !important;
      padding-right: 10px !important;

      i {
        margin-left: 5px !important;
      }
    }

    .nameColumn {
      padding: 0px !important;
      width: unset !important;
    }

    .subjectColumn {
      width: unset !important;
      padding: 0px !important;
    }

    .fromDateColumn {
      display: none !important;
    }
  }
  .studentList {
    app-score-list-filler-item {
      &[type="footer"], &[type="header"] {
        display: none !important;
      }
    }
  }
  /* less width on marking list */
  .studentRow {
    .gradeColumn {
      flex: none !important;
      min-width: unset !important;
      width: unset !important;
      span {
        margin-left: 0 !important;
      }
    }

    .checkboxColumn {
      width: unset !important;
      padding-right: 10px !important;

      i {
        margin-left: 5px !important;
      }
    }

    .nameColumn {
      width: unset !important;
      padding: 0 10px !important;
      flex-basis: unset !important;

      span {
        width: unset !important;
      }
    }

    .subjectColumn {
      width: unset !important;
      padding-left: 0px !important;
      padding-right: 0px !important;

      .worksheetBar {
        padding: 0 !important;
        span {
          text-wrap-mode: nowrap;
        }
        .barWrap {
          width: unset !important;
          &>span {
            padding: 0px 5px !important;
          }
        }
        .time {
          width: unset !important;
        }
      }
      .subjectStatus {
        width: unset !important;
        .worksheetwrap {
          width: unset !important;
        }
        .correctionWrap {
          display: none !important;
        }
      }
      .setIcon, .markingIcon {
        margin: 0 !important;
        width: 19px !important;
      }
      .statusIcon {
        margin: 0 !important;
        width: 21px !important;
      }
    }

    .lastStudyColumn, .messageColumn, .fromDateColumn {
      flex-basis: unset !important;
    }
    .fromDateColumn {
      display: none !important;
    }
  }
  .navHeader {
    .logoWrap {
      display: none;
    }
    .tabItem {
      padding: 18px 0 !important;
    }
  }
  .filterHeader {
    .selectFilter {
      display: none !important;
    }
    app-student-list-filter-capsule {
      margin: 0px !important;
      div {
        min-width: unset !important;
      }
    }
  }

  body:has(.scroll-content .container .content .content-scroll-container .content-bg .content-detail .worksheet-container) {
    .container {
      min-width: unset !important;
    }
    .content-bg {
      padding: 0px !important;
    }
    .scroll-content {
      overflow-x: auto !important;
    }

    /* adjust sidebar width */
    .content-menu-scroll {
      width: 251px !important;
      &.close {
        width: 50px !important;
      }
      .content-menu-open-close {
        width: 41px !important;
      }
      .content-menu {
        padding-left: 49px !important;
        width: 242px !important;
      }
    }

    /* Show worksheet tool */
    .worksheet-tool {
        margin-left: 371px !important;
        z-index: 252 !important;
    }
    .worksheet-container {
        outline-width: 1px !important;
    }
    .customToolbar {
      left: 376px;
    }
    /* Show H button, x all button, and toolbar */
    .headerZindexBtn, .xallbtn, .customToolbar {
        display: unset !important;
    }
    .z300 {
        z-index: 300 !important;
    }
    /* Move worksheet above header */
    .content-detail {
      position: fixed;
      top: -1px;
      left: -1px;
      z-index: 251;
    }

    /* Answers */
    .content-answer-content {
      position: fixed !important;
      left: 0;
      bottom: 0;
      height: calc(100% - 614px);
      width: 100% !important;
      z-index: 1;
    }

    .answersheetToolbarContener {
      right: 14px;
      bottom: calc(100% - 614px - 40px);
      left: unset !important;
      top: unset !important;
    }

    /* Grading header */
    .grading-header-icon {
      display: none;
    }
    .grading-header-title {
      display: none;
    }
    .grading-header {
      min-height: unset !important;
      padding: 0px !important;

      .backBtnWrap {
        height: unset !important;
      }
      .btn-subject {
        border: none !important;
        height: unset !important;
        line-height: 20px !important;
        min-width: unset !important;
        padding: 0px 10px !important;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .full-name {
        line-height: 20px !important;
        width: unset !important;
      }
      .header-left {
        line-height: 10px;
      }
      .name-kana {
        display: none;
      }
      .student-info-btn::before {
        top: 8px !important;
      }
      .student-info-right .num {
        height: 20px !important;
        line-height: 20px !important;
        min-width: 20px !important;
      }
      .student-pulldown-root {
        min-height: unset !important;
        min-width: unset !important;
        margin-left: 0px !important;
      }
      #studentInfoPullDown {
        min-height: unset;
        min-width: unset !important;
        border: 0px !important;
      }
      .student-info-left {
        min-width: unset !important;
      }
    }
  }
}
