@media screen and (orientation:landscape) and (max-height:613px) {
    body:has(.worksheet-tool) .shiftbtn {
        display: unset !important;
        position: fixed;
        top: 140px;
        height: 30px;
        width: 30px;
        z-index: 252;
        padding: 0;
    }
    body:has(.worksheet-tool):not(:has(.content-answer-content)) .shiftbtn {
        left: 376px;
    }
    body:has(.worksheet-tool):has(.content-answer-content) .shiftbtn {
        left: calc((100vw - 410px) * 2 / 3 + 370px + 6px) !important;
        /*left: 771px;*/
    }
    body:has(.worksheet-tool):not(:has(.content-answer-content)):has(div.worksheet-group.landscape.selected) .shiftbtn {
        left: 676px;
    }
    body:has(.worksheet-tool):not(:has(.content-answer-content)):has(div.worksheet-container.landscape.selected) .shiftbtn {
        left: 676px;
    }
    .worksheet-container.shiftup > .worksheet-group .worksheet-container > div {
        margin-top: calc(100vh - 615px);
    }
    .worksheet-container.shiftup > .worksheet-group.single:last-child .worksheet-group-page:last-child .worksheet-container > div {
        margin-top: calc(100vh - 617px);
    }
}
