@media screen and (orientation:landscape) and (max-height:633px) {
    .answersheetToolbarContener {
        top: 23px !important;
        /* left: 386px !important; */
        left: calc((100vw - 410px) * 2 / 3 - 9px) !important;
    }
    .content-bg {
        overflow-x: auto !important;
    }
    .content-answer-content {
        /* TODO */
        /* page width 370
         * toolbar 40
         * 2:1 */
        /* width: 395px !important; */
        width: calc((100vw - 410px) * 2 / 3) !important;
    }
    .content-detail {
        position: fixed;
        top: -1px;
        z-index: 251;
    }
    .content-menu {
        width: calc((100vw - 410px) / 3 + 16px) !important;
        /*width: 170px !important;*/
        padding-left: 14px !important;
    }
    .content-menu-scroll {
        bottom: 0 !important;
        top: 20px !important;
        z-index: 250 !important;
    }
    .content-menu-scroll:not(.close) {
        /*width: 162px !important;*/
        width: calc((100vw - 410px) / 3 + 8px) !important;
    }
    .content-scroll-container {
        margin-right: 0px !important;
    }
    .grading-toolbar-container {
        top: 0px !important;
        z-index: 252 !important;
    }
    body:has(.worksheet-tool) .headerZindexBtn {
        display: unset !important;
        position: fixed;
        top: 80px;
        height: 30px;
        width: 30px;
        z-index: 252;
        padding: 0;
    }
    body:has(.worksheet-tool):not(:has(.content-answer-content)) .headerZindexBtn {
        left: 376px;
    }
    body:has(.worksheet-tool):has(.content-answer-content) .headerZindexBtn {
        left: calc((100vw - 410px) * 2 / 3 + 370px + 6px) !important;
        /*left: 771px;*/
    }
    body:has(.worksheet-tool):has(div.worksheet-container.landscape.selected) .headerZindexBtn {
        left: 676px;
    }
    body:has(.worksheet-tool):has(div.worksheet-group.landscape.selected) .headerZindexBtn {
        left: 676px;
    }
    .navigator-header-top button {
        padding: 10px 0px !important;
        word-break: break-word !important;
    }
    body:not(:has(.content-answer-content)) #studentInfoPullDown {
        min-width: 372px !important;
    }
    .worksheet-container {
        margin: 1px 0px !important;
        outline-width: 1px !important;
    }
    .worksheet-container > .worksheet-group.single:last-child .worksheet-group-page:last-child .worksheet-container > div {
        margin-top: -1px;
    }
    .worksheet-group {
        margin: 0px -19px !important;
    }
    .worksheet-navigator-page {
        width: 40px !important;
    }
    .worksheet-tool {
        margin-left: 371px !important;
        z-index: 252 !important;
    }
    body:has(div.worksheet-group.landscape.selected) .worksheet-tool {
        margin-left: 671px !important;
    }
    body:has(div.worksheet-container.landscape.selected) .worksheet-tool {
        margin-left: 671px !important;
    }
    body:not(:has(.content-answer-content)) .z300 {
        z-index: 300 !important;
    }
}
