.studentRow .gradeColumn {
    flex: none !important;
}
* {
    touch-action: auto !important;
}
div.root {
    min-width: unset !important;
}
div.root > div.logo {
    margin-top: 0 !important;
}
div.root > div.sub-logo {
    margin: 0 !important;
}
button.login-btn {
    margin-top: 0 !important;
}
button.btn-pulldown-language {
    margin-top: 0 !important;
}
